{% set blog = page.find('/blog') %}

{% set posts = page.collection|length ? page.collection : blog.collection.remove(page).random(2) %}

{% set options = header.content %}
{% set show_content = header.show_content|defined(true) %}
{% set show_title = header.show_title|defined(true) %}

<section class="blog blog--{{options.layout.orientation|default('full-width')}} blog--{{header.body_classes|default(page.slug|trim('_'))}}">
    <div class="blog__content">
        {% block content %}
            {% if show_title %}
            <h2 class="blog__title title">
                {% if header.icon %}<i class="title__icon material-icons">{{header.icon}}</i>{% endif %}
                <span class="title__text">{{header.title}}</span>
            </h2>
            {% endif %}
            {% if show_content %}
            <div class="blog__body">{{content}}</div>
            {% endif %}
        {% endblock %}
    </div>
    {% include 'collections/blog-list.html.twig' with {'options': options} %}
    {% block pagination null %}
</section>
