{% set buttons = header.buttons %}

{% set show_content = header.show_content|defined(true) %}
{% set show_title = header.show_title|defined(true) %}

<section class="callout callout--{{header.body_classes|default('default')|split(' ')|join(' callout--')}}">
    <div class="callout__body">
    {% if show_title %}
        <h2 class="callout__title title">
            {% if header.icon %}<i class="title__icon material-icons">{{header.icon}}</i>{% endif %}
            <span class="title__text">{{header.title}}</span>
        </h2>
    {% endif %}
    {% if show_content and content|length %}
        <div class="callout__text">{{content|markdown}}</div>
    {% endif %}
        <div class="callout__buttons">
        {% for button in buttons.items if button.url or button.custom_url %}
            {% set btn_style = button.style|defined('default') %}
            {% set btn_type = button.type|defined('primary') %}
            <a class="button--{{btn_style == 'default' ? btn_type : btn_style ~ '-' ~ btn_type}}" href="{{button.custom_url|default(button.url)}}">
                {{button.text}}
            </a>
        {% endfor %}
        </div>
    </div>
</section>
