{% set features = header.features %}

{% set show_content = header.show_content|defined(true) %}
{% set show_title = header.show_title|defined(true) %}

<section class="features features--{{features.type|default('list')}} features--{{features.layout.orientation|default('full-width')}} features--{{header.body_classes|default(page.slug|trim('_'))}}">
    {% if show_content or show_title %}
    <div class="features__content">
        {% if show_title %}
        <h2 class="features__title title">
            {% if header.icon %}<i class="title__icon material-icons">{{header.icon}}</i>{% endif %}
            <span class="title__text">{{header.title}}</span>
        </h2>
        {% endif %}
        {% if show_content %}
        <div class="features__body">{{content}}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if features.items|count %}
        {% include 'collections/feature-' ~ features.type|default('list') ~ '.html.twig' with {'features': features} %}
    {% endif %}
</section>
