{% import 'macros/pages.twig' as page_macros %}

{% set banner = header.banner %}
{% set buttons = banner.buttons %}

{% set style = banner.style|defined('light') %}
{% set orientation = banner.orientation|defined('center') %}

<header class="header header--{{style}} header--{{orientation}} header--{{page.media[banner.image] ? 'with-image' : 'flat'}}">
    {% block background %}
        {% if page.media[banner.image] %}
            <div class="header__showcase">
                {{page.media[banner.image]
                    .derivatives(720,1920,400)
                    .sizes('100vw')
                    .html(page.title, image.meta.alt_text|default(section.title), 'header__image')
                }}
            </div>
        {% endif %}
    {% endblock %}

    <div class="header__body">
        {% block content %}
            <hgroup class="header__title title">
                {% if banner.title %}<h5 class="title__page">{{banner.title}}</h5>{% endif %}
                {% if banner.subtitle %}<h1 class="title__subtitle">{{banner.subtitle}}</h1>{% endif %}
            </hgroup>

            {% if banner.content %}<div class="header__text">{{banner.content|markdown}}</div>{% endif %}

            {% if buttons.items %}
            <div class="header__buttons">
            {% for button in banner.buttons.items if button.url %}
                {% set btn_style = button.style|defined('default') %}
                {% set btn_type = button.type|defined('primary') %}
                <a class="button--{{btn_style == 'default' ? btn_type : btn_style ~ '-' ~ btn_type}}" href="{{page_macros.pageUrl(page, button.url)}}">
                    {{button.text}}
                </a>
            {% endfor %}
            </div>
            {% endif %}
        {% endblock %}
    </div>
</header>
