<section class="next-previous">
  <nav class="next-previous__nav">
      <a class="previous h4 {{page.isFirst ? ' disabled'}}" {{page.isFirst ? 'disabled'}} href="{{page.nextSibling.url|default('#')}}">
          <span class="next__text">{{'PAGINATION.PREVIOUS_PAGE'|t}}</span>
          <span class="next__title">{{page.nextSibling.title}}</span>
      </a>
      <a class="next h4 {{page.isLast ? ' disabled'}}" {{page.isLast ? 'disabled'}} href="{{page.prevSibling.url|default('#')}}">
          <span class="previous__text">{{'PAGINATION.NEXT_PAGE'|t}}</span>
          <span class="previous__title">{{page.prevSibling.title}}</span>
      </a>
  </nav>
</section>
