<table style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em;width:580px;min-width:580px;max-width:580px;margin:0;padding:0">
    <tr style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
        <td width="160" style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
            <strong>Request From</strong>
        </td>
        <td style="text-align:left;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">{{form.value.name}}
            ({{form.value.email}})
        </td>
    </tr>
    <tr style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
        <td width="160" style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em"><strong>Request
            Category</strong>
        </td>
        <td style="text-align:left;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
            {{form.value.type}}
        </td>
    </tr>
    <tr style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
        <td width="160" style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
            <strong>Request Timeframe</strong>
        </td>
        <td style="text-align:left;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
            {{form.value.length}}
        </td>
    </tr>
    <tr style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
        <td style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em"
            colspan="2">
            <strong>Request Details</strong>
        </td>
    </tr>
    <tr style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em">
        <td style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.6em" colspan="2">
            {{form.value.description}}
        </td>
    </tr>
</table>

<div style="Margin-left:20px;Margin-right:20px;Margin-top:24px">
    <p class="size-13" style="Margin-top:20px;Margin-bottom:20px;font-size:12px;line-height:16px;text-align:center" lang="x-size-13">
        To respond to this request, simply reply to this email.
    </p>
</div>
