{% extends 'layouts/base.html.twig' %}

{% set pagination = page.collection.params.pagination %}
{% set taxonomies = page.collection.params.taxonomies %}

{% block header %}
    {% embed 'partials/header.html.twig' %}
        {% block content %}
            {% if taxonomies|length %}
                {% set term = taxonomies.tag|length ? taxonomies.tag|first : taxonomies.category|first %}
                {% set type = taxonomies.tag|length ? 'BLOG.TAG'|t : 'BLOG.CATEGORY'|t %}

                <hgroup class="header__title title">
                    <h5 class="title__page">{{header.title}}</h5>
                    <h1 class="title__subtitle title__subtitle--taxonomy">{{term}}</h1>
                </hgroup>
                <div class="header__text">
                    <h5>{{'BLOG.TAXONOMY_DESCRIPTION'|t|replace({'%type%':type})|replace({'%term%':term})}}</h5>
                </div>
                <div class="header__buttons}}">
                    <a class="header__button button--tertiary" href="{{page.url}}">{{'BLOG.VIEW_ALL'|t}}</a>
                </div>
            {% elseif pagination.hasPrev %}
                <hgroup class="header__title title">
                    <h5 class="title__page">{{banner.title}}</h5>
                    <h1 class="title__subtitle">{{banner.subtitle}}</h1>
                </hgroup>
                {% if config.plugins.pagination.enabled and pagination %}
                    {% include 'components/pagination.html.twig' with {
                        'page': page,
                        'pagination': pagination,
                        'next_text': 'BLOG.OLDER'|t,
                        'previous_text': 'BLOG.NEWER'|t
                    } only %}
                {% endif %}
            {% else %}
                {{parent()}}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% if content %}<section class="content">{{content}}</section>{% endif %}

    <section class="posts">
        {% include 'collections/post-list.html.twig' with {
            'blog': page,
            'posts': page.collection,
            'options': header.content
        } %}

        {% if config.plugins.pagination.enabled and pagination %}
            {% include 'components/pagination.html.twig' with {
                'page': page,
                'pagination': pagination,
                'next_text': 'BLOG.OLDER'|t,
                'previous_text': 'BLOG.NEWER'|t
            } only %}
        {% endif %}
    </section>
{% endblock %}

{% block footer %}
    {% if header.footer.get_started|defined(true) %}
        {{page.find('/partials/_get-started').content}}
    {% endif %}
    {{page.find('/partials/_footer').content}}
{% endblock %}
