{% extends 'layouts/base.html.twig' %}
{% import 'macros/pages.twig' as page_macros %}

{% block header include('partials/header.html.twig') %}

{% block content %}
    {% if content %}<section class="content">{{content}}</section>{% endif %}
    {% for module in page.collection %}
        {{page_macros.moduleAnchor(module.slug)}}
        {{module.content}}
    {% endfor %}
{% endblock %}

{% block footer %}
  {% if header.footer.get_started|defined(false) %}
    {{page.find('/partials/_get-started').content}}
  {% endif %}
	{{page.find('/partials/_footer').content}}
{% endblock %}
