{% extends 'default.html.twig' %}

{% set blog = page.find('/blog') %}
{% set settings = blog.header.content %}

{% set published = header.publish_date|default(page.date) %}

{% block header null %}

{% block content %}
    <article class="post post--1-1" pubdate="{{published|date("c")}}">
        {% embed 'partials/header.html.twig' %}
            {% block content %}
                <hgroup class="header__title title">
                    <h1 class="title__subtitle">{{ page.title }}</h1>
                    <h6 class="title__meta post__meta">
                        {{'BLOG.POSTED_BY'|t}}
                        <span class="author">
                            {{page.taxonomy.authors|first|default(config.site.author.name)}}
                        </span>

                        {{'BLOG.POSTED_ON'|t}}
                        <time class="date" datetime="{{published|date("c")}}">
                            <span>{{published|localizeddate('full', 'none', grav.language.getActive)}}</span>
                        </time>
                    </h6>
                </hgroup>


                {% if page.taxonomy.tag %}
                    <div class="post__tags">
                        {% for tag in page.taxonomy.tag %}
                            {% if settings.url_taxonomy_filters %}
                            <a href="{{blog.url|rtrim('/')}}/tag{{config.system.param_sep}}{{tag}}" class="tag">{{tag}}</a>
                            {% else %}
                            <span class="tag">{{tag}}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        {% endembed %}

        <div class="post__body">{{ page.content }}</div>
    </article>

    {% if config.plugins.comments.enabled %}
        <section class="comments">
            {% include 'partials/comments.html.twig' %}
        </section>
    {% endif %}

    {% if config.plugins.sharer.enabled %}
        <section class="share">
            {% include 'partials/sharer.html.twig' %}
        </section>
    {% endif %}

    {% include 'partials/next-previous.html.twig' %}

    {{page.find('/partials/_random-posts').content}}
{% endblock %}
