{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<nav class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    {% if breadcrumbs_config.icon_home %}
    <i class="material-icons breadcrumbs__home">{{breadcrumbs_config.icon_home}}</i>
    {% endif %}
    {% for crumb in crumbs %}
        {% if not loop.last %}
            {% if crumb.routable %}
                <a class="breadcrumbs__page breadcrumbs__page--link" href="{{crumb.url}}" itemprop="url">
                    <span itemprop="title">{{crumb.menu|truncate(20)}}</span>
                </a>
            {% else  %}
                <span class="breadcrumbs__page" itemprop="title">{{crumb.menu|truncate(20)}}</span>
            {% endif %}
            <i class="material-icons breadcrumbs__divider">{{divider}}</i>
        {% else %}
            {% if breadcrumbs_config.link_trailing %}
                <a class="breadcrumbs__page breadcrumb-page--link" href="{{crumb.url}}" itemprop="url">
                    <span itemprop="title">{{crumb.menu}}</span>
                </a>
            {% else %}
                <span class="breadcrumbs__page" itemprop="title">{{crumb.menu|truncate(20)}}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</nav>
{% endif %}
